// colours
$blackish: #201e1f;
$whitish: #dcdde1;
$dark-blue: #5339b8;
$light-blue: #6f67f0;

.projectGrid {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}
.projectTile {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  justify-content: space-evenly;
  align-items: center;

  padding: 6vh 1vw;
  margin: 3vh 5vw;

  border: 8px solid $light-blue;
  box-shadow: 12px 20px 0px $dark-blue;

  background-color: rgba(15, 15, 15, 0.148);

  div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 3vw;

    div:first-of-type {
      flex-direction: column;
      gap: 2vh;

      div {
        flex-direction: row;
        justify-content: space-around;
        gap: 0;
        width: 100%;

        div {
          flex-direction: column;
          align-items: center;
          justify-content: space-around;

          max-width: 50%;

          gap: 1vh;
          a {
            font-size: 2rem;
            color: #dcdde1;
          }
          a:hover {
            transform: scale(1.2);
          }
          p {
            font-size: 1.1rem;
            line-height: 1.15rem;
          }
        }
      }
    }

    div:nth-of-type(2) {
      flex-direction: column;
      align-items: flex-start;
      gap: 1vh;
      max-width: 40%;

      line-height: 1.15rem;

      h3 {
        font-size: 1.3rem;
      }
    }
  }

  img {
    box-shadow: 5px 5px 5px black;
    &:hover {
      transform: scale(1.02);
    }
    transition: transform 200ms ease-in-out;
  }
}
.projectThumbnail {
  width: 100%;
  max-width: 480px;
  height: auto;
}
