.heroDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;

  & * {
    padding: 2vh 2vw;
  }
  h1 {
    border-top: 6px solid #dcdde1;
    font-size: 10vh;
  }
  p {
    border-top: 2px solid #dcdde1;
  }
  div {
    img {
      border-radius: 8%;
    }
  }
}
