.aboutSection {
  border: 2px solid blue;

  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2vw;

  width: 100vw;
  min-height: 100vh;

  padding: 5vh;

  div {
    p {
      text-align: justify;
    }
  }
}
