.aboutSection {
  border: 2px solid blue;

  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2vw;

  min-height: 80vh;

  div {
    p {
      text-align: justify;
    }
  }
}
