// colours
$blackish: #201e1f;
$whitish: #dcdde1;
$dark-blue: #5339b8;
$light-blue: #6f67f0;

.contactSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  ul {
    display: flex;
    gap: 5vw;
  }
  p {
    line-height: 2.5em;
  }
  a {
    text-decoration: none;
    font-size: 3em;
    color: $whitish;
  }
}
