// colours
$blackish: #201e1f;
$whitish: #dcdde1;
$dark-blue: #5339b8;
$light-blue: #6f67f0;

@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');

* {
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: 'Fira Mono', monospace;
	background-color: $blackish;
	color: $whitish;
}
section {
	padding: 5vh 2vw;
}
